body {
 margin: 0;
 padding: 0;
}

.container {
 color: brown;

}

img {
 width: 100%;
}

.layout_1 .row {
 width: 100%;
 padding: 2em 4em;
}

@media (max-width: 360px) {
 .layout_1 .row{
  color: chartreuse;
  font-size: .7rem;
  padding: 0 4em;
 }
 h1{
  font-size:xx-small;
 }
}